.profile__edit-avatar-button {
  padding: 0;
  width: 120px;
  height: 120px;
  margin: 0;
  margin-right: 30px;
  border-radius: 50%;
  border: none;
  background: transparent;
}

.profile__edit-avatar-button:hover {
  position: relative;
  background: rgba(0, 0, 0, 0.8);
  cursor: pointer;
  background-image: url(../../../images/Vector.svg);
  background-repeat: no-repeat;
  background-position: center;
  text-align: right;
  white-space: nowrap;
  transition: opacity .8s ease, visibility .8s ease;
}