.profile__info_name {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  margin: 0;
  margin-top: 22px;
  margin-bottom: 16px;
  font-weight: 500;
  font-size: 42px;
  line-height: 48px;
  margin-right: 18px;
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
  .profile__info_name {
    font-size: 35px;
    line-height: 36px;
  }
}

@media screen and (min-width: 320px) and (max-width: 767px) {
  .profile__info_name {
    width: 189px;
    margin-top: 0;
    margin-left: 47px;
    margin-bottom: 14px;
    font-size: 27px;
    line-height: 33px;
    text-align: center;
  }
}